@import "tailwindcss";

body{
  background-color: black;
  color: white;
}

::-webkit-scrollbar{
  display: none;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 115px;
}
.animated-text {
  background: linear-gradient(
    90deg,
    #ff0080,
    #7928ca,
    #2af598,
    #009efd,
    #ff0080
  );
  background-size: 300% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moveGradient 4s linear infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
